.navContainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  top:0;
  left: 0;
  right: 0;
  justify-content: center;
  padding: 5px 20px;
  background-color: #1b007f;
  z-index: 10000;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.logo1 {
  max-width: 25vw;
  max-height: 10.3vw;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.logo {
  max-width: 6.4vw;
  max-height: 2.36vw;
}

.navLink {
  text-decoration: none;
  margin-right: 1.74vw;
  margin-left: 1.74vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 40vw;
  font-size:1vw;
  line-height: 1vw;
}

.mobileLink {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 40vw;
  font-size:16px;
}

.menuContainer {
  width: 100%;
}