.Todo{
   width:88.95vw ; 
   height: 32.77vw;
  bottom: 1px;
   left: 5.55vw;
   top: 260.06vw;
   background-color: #d83d17;
   z-index: 1888888;
   position: absolute;
   border-radius: 1vw;
   justify-content: center;
}

.terminos{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #F5F5F5;
}

.links{
  padding: 0vw 1vw;
}
.site{
/* h5 */
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
text-align: right;
color: #CBC0FF;
}

.textoF{
    /* position: absolute;
    left: 4.06%;
    right: 70.8%;
    top: 37.79%;
    bottom: 45.89%; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.12vw;
    line-height: 1.31vw;
    color: #FFFFFF; 
}

.columna{
    flex:1;
}