.Todo{
   width:88.95vw ; 
   height: 32.77vw;
  bottom: 1vw;
   left: 5.55vw;
   top: 260.06vw;
   background: #1B007F;
   z-index: 1888888;
   position: absolute;
   border-radius: 1vw;
   justify-content: center;
   
}

.terminos{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #F5F5F5;
padding-left: 5%;
}

.links{
  padding: 0vw 1vw;
}
.site{
/* h5 */
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
text-align: right;
color: #CBC0FF;
padding-right: 10%;
}



.columna{
    flex:1;
}
.Logo2{ 
  margin-top: 40%;
margin-bottom: 10%;
size: 30%;
margin-left:  5%;
padding-left: 10px;

 
}