.Linea {
  width: 24.3vw;
  height: 2.7vw;
  background: #c6ece1;
  margin-top: 2.7vw;
  margin-bottom: 2.08vw;
}
.derecha {
  transform: rotate(-45deg);
  position: absolute;
  z-index: 1;
}
.izquierda {
  transform: rotate(45deg);
  position: absolute;
  z-index: 0;
}
.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 20.8vw;
  top: 48.6vw;
  left: 10.41vw;
  width: 20.8vw;
}
