.Linea {
  width: 258px;
  height: 33px;
  background: #c6ece1;
  margin-top: 30px;
  margin-bottom: 30px;
}
.derecha {
  transform: rotate(-45deg);
  position: absolute;
  z-index: 1;
}
.izquierda {
  transform: rotate(45deg);
  position: absolute;
  z-index: 0;
}
.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 300px;
}
