.Que {
    font-family: Roboto;
    font-style: normal;
      font-size: 5.75vw;
    line-height:6vw;
    text-align: center;
    color: #f5f5f5;
    border: black;
  }
  
  
  .sub {
    /* h5 */
      font-family: Roboto;
    font-style: normal;
    padding: 0vw 10vw;
    font-size: 3.5vw;
    line-height:3.5w;
    text-align: center;
    /* ligth gray */
    color: #f5f5f5;
  }
  